@define-color bg #1a1f2e;
@define-color fg #e5e9f0;
@define-color gray1 #d08770;
@define-color gray2 #4c566a;
@define-color gray3 #5e81ac;
@define-color gray4 #ebcb8b;
@define-color gray5 #b48ead;
@define-color fg_bright #eceff4;

window {
    background-color: @bg;
    border: 2px solid @gray3;
    border-radius: 10px;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 10px;
}

scrollbar slider:hover {
    background-color: @gray3;
}